.DS_Store
__pycache__/
capital_management/__pycache__/
capital_management/migrations/__pycache__/
securityproject/__pycache__/
static/.DS_Store
static/AdminLTE-2.4.10/.DS_Store
templates/.DS_Store
users/__pycache__/
users/migrations/__pycache__/
venv/.DS_Store
venv/bin/
venv/include/
venv/lib/python3.6/site-packages/Django-2.1.4.dist-info/
venv/lib/python3.6/site-packages/PIL/__pycache__/
venv/lib/python3.6/site-packages/__pycache__/
venv/lib/python3.6/site-packages/beautifulsoup4-4.8.2.dist-info/
venv/lib/python3.6/site-packages/bs4-0.0.1-py3.6.egg-info/
venv/lib/python3.6/site-packages/bs4/
venv/lib/python3.6/site-packages/captcha/__pycache__/
venv/lib/python3.6/site-packages/captcha/conf/__pycache__/
venv/lib/python3.6/site-packages/captcha/management/__pycache__/
venv/lib/python3.6/site-packages/captcha/management/commands/__pycache__/
venv/lib/python3.6/site-packages/captcha/migrations/__pycache__/
venv/lib/python3.6/site-packages/captcha/tests/__pycache__/
venv/lib/python3.6/site-packages/certifi-2019.3.9.dist-info/
venv/lib/python3.6/site-packages/certifi/
venv/lib/python3.6/site-packages/chardet-3.0.4.dist-info/
venv/lib/python3.6/site-packages/chardet/
venv/lib/python3.6/site-packages/dateutil/
venv/lib/python3.6/site-packages/django/
venv/lib/python3.6/site-packages/easy-install.pth
venv/lib/python3.6/site-packages/idna-2.8.dist-info/
venv/lib/python3.6/site-packages/idna/
venv/lib/python3.6/site-packages/lxml-4.5.0.dist-info/
venv/lib/python3.6/site-packages/lxml/
venv/lib/python3.6/site-packages/msgpack-0.6.1-py3.6.egg-info/
venv/lib/python3.6/site-packages/msgpack/
venv/lib/python3.6/site-packages/numpy-1.16.2.dist-info/
venv/lib/python3.6/site-packages/numpy/
venv/lib/python3.6/site-packages/pandas-0.24.2.dist-info/
venv/lib/python3.6/site-packages/pandas/
venv/lib/python3.6/site-packages/pandas_datareader-0.8.1.dist-info/
venv/lib/python3.6/site-packages/pandas_datareader/
venv/lib/python3.6/site-packages/pip-20.0.2.dist-info/
venv/lib/python3.6/site-packages/pip/
venv/lib/python3.6/site-packages/pytdx/
venv/lib/python3.6/site-packages/python_dateutil-2.8.0.dist-info/
venv/lib/python3.6/site-packages/pytz-2018.7.dist-info/
venv/lib/python3.6/site-packages/pytz/
venv/lib/python3.6/site-packages/pyzmq-18.0.1.dist-info/
venv/lib/python3.6/site-packages/ranged_response/__pycache__/
venv/lib/python3.6/site-packages/requests-2.21.0.dist-info/
venv/lib/python3.6/site-packages/requests/
venv/lib/python3.6/site-packages/setuptools-39.1.0-py3.6.egg
venv/lib/python3.6/site-packages/setuptools.pth
venv/lib/python3.6/site-packages/simplejson-3.16.0-py3.6.egg-info/
venv/lib/python3.6/site-packages/simplejson/
venv/lib/python3.6/site-packages/six-1.12.0.dist-info/
venv/lib/python3.6/site-packages/six.py
venv/lib/python3.6/site-packages/soupsieve-1.9.5.dist-info/
venv/lib/python3.6/site-packages/soupsieve/
venv/lib/python3.6/site-packages/test/
venv/lib/python3.6/site-packages/tushare-1.2.48.dist-info/
venv/lib/python3.6/site-packages/tushare/
venv/lib/python3.6/site-packages/urllib3-1.24.1.dist-info/
venv/lib/python3.6/site-packages/urllib3/
venv/lib/python3.6/site-packages/zmq/
venv/pip-selfcheck.json
venv/pyvenv.cfg
.gitignore
.idea
db.sqlite3
