beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
Django==2.2.24
django-ranged-response==0.2.0
django-simple-captcha==0.5.12
idna==2.8
lxml==4.5.0
msgpack==0.6.1
numpy==1.16.2
pandas==0.24.2
pandas-datareader==0.8.1
Pillow==7.0.0
python-dateutil==2.8.0
pytz==2018.7
pyzmq==18.0.1
requests==2.21.0
simplejson==3.16.0
six==1.12.0
soupsieve==1.9.5
tushare==1.2.48
urllib3==1.24.1

Unidecode~=1.1.1
pyecharts~=1.8.1
TA-Lib~= 0.4.18