{% extends 'base.html' %}
{% load static %}
{% block title %}股票基本面评价{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        基本面评价
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">基本面评价</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
          <h3 class="box-title">
               <form action="{% url 'capital_management:evaluate' %}" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <input type="text" name="stock_code">
                <input type="submit" value="查询">
                <p style="color: red">{{ error_msg }}</p>
               </form>
          </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table id="evaluate" class=" table table-bordered table-striped ">
                <thead class="text-center text-muted bg-danger">
                    <tr>
                        <th>序号</th>
                        <th>股票代码</th>
                        <th>快报-股本回报率</th>
                        <th>业绩快报报告期</th>
                        <th>最新收益增长率</th>
                        <th>前一季度收益增长率</th>
                        <th>前二季度收益增长率</th>
                        <th>前三季度收益增长率</th>
                        <th>前一年度收益增长率</th>
                        <th>前二年度收益增长率</th>
                        <th>前一季度销售增长率</th>
                        <th>股本回报率</th>
                        <th>营业利润环比增长率(季度)</th>
                        <th>最新报告期</th>
                        <th>更新日期</th>
                    </tr>
                </thead>
                <tbody>

                  {% for evaluation in evaluate_query_result %}
                  <tr>

                        <td class="text-blue bg-danger">{{ forloop.counter }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.code }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.express_diluted_roe }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.express_date }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.eps_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.front_q1_eps_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.front_q2_eps_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.front_q3_eps_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.front_y1_eps_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.front_y2_eps_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.front_q1_sales_rate }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.roe }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.q_op_qoq }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.period_date }}</td>

                        <td class="text-blue bg-danger">{{ evaluation.date }}</td>

                  </tr>
                  {% empty %}
                    <tr>没有数据！</tr>
                  {% endfor %}


                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
    $(function () {
        $('#evaluate').DataTable({
             "paging"      : true,       <!-- 允许分页 -->
             "lengthChange": true,       <!-- 允许改变每页显示的行数 -->
             "searching"   : true,       <!-- 允许内容搜索 -->
             "ordering"    : true,       <!-- 允许排序 -->
             "info"        : true,       <!-- 显示信息 -->
             "autoWidth"   : true,       <!-- 固定宽度 -->



             "pagingType"  : "full_numbers",  <!-- 显示尾页和首页 -->

              "language": {
                        //"info": "当前第_PAGE_页，共 _PAGES_页",
                        "sInfo": "当前显示第 _START_ 到第 _END_ 条，共 _TOTAL_ 条",
                        "sInfoFiltered": "(从_MAX_条筛选 )",
                        "sInfoEmpty": "共筛选到0条",
                        "sSearch": "搜索:",
                        "sLengthMenu": "每页显示 _MENU_ 条",
                        "sZeroRecords": "未筛选到相关内容",
                        "paginate": {
                            "sFirst": "首页",  //首页和尾页必须在pagingType设为full_numbers时才可以
                            "sLast": "尾页",
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "first": "First page",
                            "last": "Last page",
                            "next": "Next page",
                            "previous": "Previous page"
                        }

              }
        });
        $('#evaluate').colResizable({
            liveDrag: true, //实现实时拖动，可看见拖动轨迹
            draggingClass: "dragging", //防止拖动出现虚标线
            resizeMode: 'flex',
        });
    });

</script>

{% endblock %}