{% extends 'base.html' %}
{% load static %}
{% block title %}股票基本面评价{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        全市场综合排名
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">全市场综合排名</li>
      </ol>
    </section>
    <!--  删除线 -->
    <style>
        .line_through{
          text-decoration:line-through;
            color: blue;
      }
    </style>
    <!-- end 删除线 -->
{% endblock %}

{% block content %}

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
         <h3 class="box-title">全市场综合排名<small>(不含基金)</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table id="evaluate" class=" table table-bordered table-striped ">
                <thead class="text-center text-muted bg-danger">
                    <tr>
                        <th>序号</th>
                        <th>综合得分</th>
                        <th>股票代码</th>
                        <th>最新季度增长率（EPS）</th>
                        <th>EPS综合得分</th>
                        <th>RPS强度得分</th>
                        <th>SMR综合得分</th>
                        <th>PE收益稳定性</th>
                        <th>52周高点降幅(%)</th>
                        <th>成交量比</th>
                        <th>行业板块</th>
                        <th>20日行业强度(RPS)</th>
                        <th>港股通持股占比(%)</th>
                        <th>当日涨幅(%)</th>
                        <th>公告日期</th>
                        <th>最新报告期</th>
                    </tr>
                </thead>
                <tbody>

                  {% for cumulation in cumulative_ranks %}
                  <tr>
                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ forloop.counter }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ forloop.counter }}</td>
                        {% endif %}
                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.cumulative_rank }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.cumulative_rank }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.code }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.code }}</td>
                        {% endif %}

                         {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.new_quarter_eps }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.new_quarter_eps }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.eps }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.eps }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.rps }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.rps }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.smr }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.smr }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.eps_stability }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.eps_stability }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.decline_range }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.decline_range }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            {% if cumulation.volume_ratio > 2 %}
                                <td class="text-red line_through bg-warning">{{ cumulation.volume_ratio }}</td>
                            {% else %}
                                <td class="text-red bg-success">{{ cumulation.volume_ratio }}</td>
                            {% endif %}
                        {% else %}
                            {% if cumulation.volume_ratio > 2 %}
                                <td class="text-blue line_through bg-warning">{{ cumulation.volume_ratio }}</td>
                            {% else %}
                                <td class="text-blue bg-danger">{{ cumulation.volume_ratio }}</td>
                            {% endif %}
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.industry_name }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.industry_name }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.industry_rps }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.industry_rps }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.hk_hold }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.hk_hold }}</td>
                        {% endif %}
                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.pct_chg }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.pct_chg }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.ann_date }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.ann_date }}</td>
                        {% endif %}

                        {% if cumulation.eps_stability < 30 %}
                            <td class="text-red bg-success">{{ cumulation.period_date }}</td>
                        {% else %}
                            <td class="text-blue bg-danger">{{ cumulation.period_date }}</td>
                        {% endif %}

                  </tr>
                  {% empty %}
                    <tr>没有数据！</tr>
                  {% endfor %}


                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
    $(function () {
        $('#evaluate').DataTable({
             "paging"      : true,       <!-- 允许分页 -->
             "lengthChange": true,       <!-- 允许改变每页显示的行数 -->
             "searching"   : true,       <!-- 允许内容搜索 -->
             "ordering"    : true,       <!-- 允许排序 -->
             "info"        : true,       <!-- 显示信息 -->
             "autoWidth"   : true,       <!-- 固定宽度 -->



             "pagingType"  : "full_numbers",  <!-- 显示尾页和首页 -->

              "language": {
                        //"info": "当前第_PAGE_页，共 _PAGES_页",
                        "sInfo": "当前显示第 _START_ 到第 _END_ 条，共 _TOTAL_ 条",
                        "sInfoFiltered": "(从_MAX_条筛选 )",
                        "sInfoEmpty": "共筛选到0条",
                        "sSearch": "搜索:",
                        "sLengthMenu": "每页显示 _MENU_ 条",
                        "sZeroRecords": "未筛选到相关内容",
                        "paginate": {
                            "sFirst": "首页",  //首页和尾页必须在pagingType设为full_numbers时才可以
                            "sLast": "尾页",
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "first": "First page",
                            "last": "Last page",
                            "next": "Next page",
                            "previous": "Previous page"
                        }

              }
        });
        $('#evaluate').colResizable({
            liveDrag: true, //实现实时拖动，可看见拖动轨迹
            draggingClass: "dragging", //防止拖动出现虚标线
            resizeMode: 'flex',
        });
    });

</script>

{% endblock %}