{% extends 'base.html' %}
{% load static %}
{% block title %}交易评价{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        交易评价
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">交易评价</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

   <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

        <div class="box">
        <div class="box-header">
          <h3 class="box-title">交易评价<small>(不含基金)</small></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

            <table id="stocks_table" class=" table table-bordered table-striped ">
                <thead class="text-center text-muted bg-gray-light">
                    <tr>
                        <th>序号</th>
                        <th>信息源头</th>
                        <th>股票名称</th>
                        <th>股票代码</th>
                        <th>买卖标识</th>
                        <th>成交价格</th>
                        <th>成交数量</th>
                        <th>成交日期</th>
                        <th>交易总额</th>
                        <th>当日收盘价</th>
                        <th>十日均线</th>
                        <th>买卖评分</th>
                        <th>交易评分</th>
                        <th>交易账户</th>
                    </tr>
                </thead>
                <tbody>

                  {% for stock in stocks %}
                  <tr>
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ forloop.counter }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ forloop.counter }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ forloop.counter }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ forloop.counter }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.trade_resource }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.trade_resource }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.trade_resource }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.trade_resource }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.name }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.name }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.name }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.name }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.code }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.code }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.code }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.code }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.flag }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.flag }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.flag }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.flag }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.price }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.price }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.price }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.price }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.quantity }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.quantity }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.quantity }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.quantity }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.date }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.date }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.date }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.date }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red text-bold bg-success"><em>{{ stock.total_capital }}</em></td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-yellow bg-danger">{{ stock.total_capital }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-red text-bold bg-gray-light"><em>{{ stock.total_capital }}</em></td>
                    {% else %}
                        <td class="text-yellow bg-warning">{{ stock.total_capital }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.tradeperformance__close }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.tradeperformance__close }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.tradeperformance__close }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.tradeperformance__close }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.tradeperformance__moving_average }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.tradeperformance__moving_average }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.tradeperformance__moving_average }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.tradeperformance__moving_average }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.tradeperformance__performance }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.tradeperformance__performance }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.tradeperformance__performance }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.tradeperformance__performance }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.tradeperformance__trade_performance }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.tradeperformance__trade_performance }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.tradeperformance__trade_performance }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.tradeperformance__trade_performance }}</td>
                    {% endif %}
                    {% if stock.flag == 'B' %}
                        <td class="text-red bg-success">{{ stock.account__name }}</td>
                    {% elif stock.flag == 'S' %}
                        <td class="text-green bg-danger">{{ stock.account__name }}</td>
                    {% elif stock.flag == 'R' %}
                        <td class="text-blue bg-gray-light">{{ stock.account__name }}</td>
                    {% else %}
                        <td class="text-blue bg-warning">{{ stock.account__name }}</td>
                    {% endif %}
                  </tr>
                  {% empty %}
                    <tr>没有数据！</tr>
                  {% endfor %}


                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
        </div>
    <!-- /.col -->
      </div>
    <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->
<script>
    $(function () {
        $('#stocks_table').DataTable({
             "paging"      : true,       <!-- 允许分页 -->
             "lengthChange": true,       <!-- 允许改变每页显示的行数 -->
             "searching"   : true,       <!-- 允许内容搜索 -->
             "ordering"    : true,       <!-- 允许排序 -->
             "info"        : true,       <!-- 显示信息 -->
             "autoWidth"   : true,       <!-- 固定宽度 -->



             "pagingType"  : "full_numbers",  <!-- 显示尾页和首页 -->

              "language": {
                        //"info": "当前第_PAGE_页，共 _PAGES_页",
                        "sInfo": "当前显示第 _START_ 到第 _END_ 条，共 _TOTAL_ 条",
                        "sInfoFiltered": "(从_MAX_条筛选 )",
                        "sInfoEmpty": "共筛选到0条",
                        "sSearch": "搜索:",
                        "sLengthMenu": "每页显示 _MENU_ 条",
                        "sZeroRecords": "未筛选到相关内容",
                        "paginate": {
                            "sFirst": "首页",  //首页和尾页必须在pagingType设为full_numbers时才可以
                            "sLast": "尾页",
                            "sPrevious": "上一页",
                            "sNext": "下一页",
                            "first": "First page",
                            "last": "Last page",
                            "next": "Next page",
                            "previous": "Previous page"
                        }

              }
        });
        $('#stocks_table').colResizable({
            liveDrag: true, //实现实时拖动，可看见拖动轨迹
            draggingClass: "dragging", //防止拖动出现虚标线
            resizeMode: 'flex',
        });
    });

</script>

{% endblock %}
