{% extends 'base.html' %}
{% load static %}
{% block title %}交易流水{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        交易记录单
        <small>更新</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">交易流水</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

   <!-- Main content -->
   <section class="content">

        <div class="col-md-6">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">交易流水</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form action="{% url 'capital_management:trade' %}" class="form-horizontal" method="post">
              <div class="box-body">
                {% csrf_token %}
                <!-- 使用StocksDetailsForm表单类来自动生成页面 -->
                <div class="form-group">
                     <!--信息源头-->
                     <div class="form-group">
                    <label for="trade_resource" class="col-sm-2 control-label">{{ trade_form.trade_resource.label_tag }}</label>
                    <div class="col-sm-10" id="trade_resource">
                        {{ trade_form.trade_resource}}
                    </div>
                </div>
                </div>
                <div class="form-group">
                     <!--交易日期-->
                     <div class="form-group">
                    <label for="date" class="col-sm-2 control-label">{{ trade_form.date.label_tag }}</label>
                    <div class="col-sm-10" id="date">
                        {{ trade_form.date}}
                    </div>
                </div>
                     <!--交易账户-->
                     <div class="form-group">
                    <label for="account" class="col-sm-2 control-label">{{ trade_form.account.label_tag }}</label>
                    <div class="col-sm-10" id="account">
                        {{ trade_form.account }}
                    </div>
                </div>
                </div>
                <div class="form-group">
                     <!--股票代码-->
                     <div class="form-group">
                    <label for="code" class="col-sm-2 control-label">{{ trade_form.code.label_tag }}</label>
                    <div class="col-sm-10" id="code">
                        {{ trade_form.code}}
                    </div>
                </div>
                     <!--操作方向 -->
                     <div class="form-group">
                    <label for="flag" class="col-sm-2 control-label">{{ trade_form.flag.label_tag }}</label>
                    <div class="col-sm-10" id="flag">
                        {{ trade_form.flag }}
                    </div>
                </div>
                </div>
                <div class="form-group">
                     <!--买卖价格-->
                     <div class="form-group">
                    <label for="price" class="col-sm-2 control-label">{{ trade_form.price.label_tag }}</label>
                    <div class="col-sm-10" id="price">
                        {{ trade_form.price}}
                    </div>
                </div>
                     <!--买卖数量-->
                     <div class="form-group">
                    <label for="quantity" class="col-sm-2 control-label">{{ trade_form.quantity.label_tag }}</label>
                    <div class="col-sm-10" id="quantity">
                        {{ trade_form.quantity }}
                    </div>
                </div>
                </div>


                 <!-- end 页面 -->
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-default">取消</button>
                <button type="submit" class="btn btn-info pull-right">保存</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->

          <!-- /.box -->
        </div>
        <!--/.col (right) -->

      <!-- /.row -->
    </section>

{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->

{% endblock %}
