{% extends 'base.html' %}
{% load static %}
{% block title %}创建日志{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        操作日志
        <small>创建</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">创建日志</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
    <div class="col-md-12">
      <div class="box box-success">

        <div class="box-header with-border">
          <h3 class="box-title">创建日志</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
            <form class="form-horizontal" method="post" role="form" action="">
              <div class="box-body">
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                      {{ hidden_field }}
                  {% endfor %}

                  {% if form.non_field_errors %}
                      <div class="alert alert-danger col-md-12" role="alert">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                      </div>
                  {% endif %}

                  {% for field in form.visible_fields %}
                      <div class="form-group col-md-12">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                      </div>
                  {% endfor %}

              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-default">取消</button>
                <button type="submit" class="btn btn-info pull-right">提交</button>
              </div>
              <!-- /.box-footer -->
            </form>

        </div>
        <!-- /.box-body -->
      </div>
   </div>
{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->

{% endblock %}