{% extends 'base.html' %}
{% load static %}
{% block title %}日志详情{% endblock %}

{% block css %}
     <link rel="stylesheet" href="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        笔记
        <small>详情</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="active">笔记详情</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
   <div class="col-md-12">

    <!-- BAR CHART -->
      <div class="box box-success">
        <div class="box-header with-border">
            <p>类别：
                {% if article.category.parent_category %}
                    <a href="{% url 'blog:category_detail' article.category.parent_category.slug %}">
                        {{ article.category.parent_category.name }}
                    </a>/
                {% endif %}
                    <a href="{% url 'blog:category_detail' article.category.slug %}">{{ article.category }}</a>
            </p>
        </div>
        <div class="box-body">
            <h3 class="box-title text-blue">
                {{ article.title }}
                {% if article.status == "d" %}
                    (草稿)
                {% endif %}
            </h3>
            {% if article.status == "p" %}
                <p class="text-gray">发布于{{ article.pub_date|date:"Y-m-d" }}  浏览{{ article.views }}次</p>
            {% endif %}
            <p>{{ article.body|safe }}</p>

            <p>标签：
                {% for tag in article.tags.all %}
                    <a>{{ tag.name }}</a>
                {% endfor %}
            </p>
            {% if article.author == request.user %}
                {% if article.status == "d" %}
                    <a href="{% url 'blog:article_publish' article.id article.slug %}">发布</a>
                {% endif %}
                <a href="{% url 'blog:article_update' article.id article.slug %}">编辑</a>
                <a href="{% url 'blog:article_delete' article.id article.slug %}">删除</a>
            {% endif %}
        </div>

        <!-- /.box-body -->
      </div>
   </div>
{% endblock %}

{% block script %}

<!-- DataTables -->
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'AdminLTE-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
<!-- page script -->

{% endblock %}